* {
  flex: 0 0 0%;
  flex-grow: row nowrap;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  flex: 1 1 0%;
  display: flex;
}

.chat-window {
  flex: 1 0 0%;
  display: flex;
  flex-direction: column;
}

.chat-window-main {
  flex: 1 0 0%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.chat-window-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #eee;
  flex: 0 0 50px;
}

.chat-window-header h1 {
  color: rgb(67, 67, 195);
  flex: 1 0 0%;
}

/* --- Sidebar --- */

.chat-sidebar-wrapper {
  display: flex;
  flex-direction: column;
}

.chat-conversation-list {
  flex: 1 0 0%;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.chat-new-message {
  padding: 0 15px;
  flex: 0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-new-message a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  flex: 0 0 30px;
  border-radius: 50%;
  font-size: 2rem;
  background: #fff;
}

/* ---chat-main footer --- */

.chat-window-footer {
  padding: 0 4rem;
  display: flex;
  flex: 0 0 50px;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

.message-input {
  outline: none;
  border: 2px solid #ddd;
  flex: 1 0 0%;
  padding: 0.6rem;
  font-size: 1.4rem;
  color: #330;
  border-radius: 6px;
}
